feh_rotation_log
Notifications/Vikings/latest.txt
Notifications/danubeogradu/log1
Notifications/danubeogradu/log2
Notifications/matf_notifications2/Programiranje/new
Notifications/matf_notifications2/Programiranje/old
Notifications/matf_notifications2/Racunarstvo/new
Notifications/matf_notifications2/Racunarstvo/old

